@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #faf9f7;
}

body {
  background: linear-gradient(135deg, #2b2d2e, #101111);
  color: white;
  min-height: 100vh;
}

@layer utilities {

  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }

  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
}
}

